.navbar {
	min-height: 7.5vh;
	background-color: #415A77;
	border-bottom: .75px solid #E0E1DD;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 700;
	width: 20%;
}

.searchBar {
	display: flex;
	align-items: center;
	width: 40%;
	padding: .50rem;
}

.searchBar form {
	display: flex;
	width: 95%;
	height: 2rem;
	margin: 0 .25rem;
}

.searchBar input {
	width: 100%;
	border-radius: 8px;
	border: none;
	background-color: #E0E1DD;
}

.searchBar input:focus {
	outline: none !important;
	border: none;
}

.searchBar button {
	display: none;
}

.categories {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 30%;
	list-style-type: none;
	font-weight: 500;
}

.categories li {
	margin-right: 1rem;
}
