.container {
	margin: 1rem 2rem;
	display: flex;
	justify-content: flex-start;
	font-size: 1rem;
}

.similarContent {
	position: relative;
	display: inline-block;
	overflow: hidden;
	border: 1px outset #E0E1DD;
	margin-right: 1rem;
	height: 20em;
	width: 12em;
}

.similarContent span {
	position: absolute;
	border: 1px outset #E0E1DD;
	border-radius: 5px;
	left: .5em;
	bottom: .5em;
	color: #e9c46a;
	background-color: #778DA9;
	font-weight: 500;
	padding: .25em;
}

.similarContent a {
	position: absolute;
	-webkit-text-stroke: .3px black;
	color: #E0E1DD;
	bottom: .5em;
	left: 3rem;
}

.similarContent:hover {
	cursor: pointer;
}
